ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #d5b1b1;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: url('/assets/fondo.jpg') no-repeat center center / cover;
}

/* Opcional: hacer el header transparente para que se vea la imagen */
ion-toolbar {
  --background: transparent;
}
