<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--renderizar el contenido solo cuando el usuario selecciona esta opción. -->
  <div *ngIf="folder === 'Inicio'" class="ion-padding">
    <ion-card>
      <!—Incorpora imagen e información en pantalla de inicio -->
      <img src="assets/banner.jpg" alt="Bienvenidos" />
      <ion-card-header>
        <ion-card-title>Bienvenidos a la App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Esta interfaz constituye la página principal de la evaluación implementada en Ionic.
        La navegación entre secciones se realiza mediante el menú lateral.
      </ion-card-content>
    </ion-card>
  </div>

    <!—Configura información personal que se va mostrar -->
  <div *ngIf="folder === 'Informacion-personal'" class="ion-padding ion-text-center">
    <ion-avatar style="margin: 20px auto; width: 120px; height: 120px;">
      <img src="assets/perfil.jpg" alt="Mi Foto" />
    </ion-avatar>

    <h2>EVALUACIÓN I</h2>

    <ion-list lines="inset">
      <ion-item>
        <ion-label>
          <h3>Nombre de Estudiante</h3>
          <p>Jonnatha Alberto Cordova Martinez</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>UNETI</h3>
          <p>PROGRAMACIÓN III MODULO 2</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!—Configura información de contacto -->
  <div *ngIf="folder === 'Contacto'" class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
        <ion-label>jonnathacordova26@gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-whatsapp" slot="start" color="success"></ion-icon>
        <ion-label>+58 412 6141004</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-Telegram" slot="start" color="success"></ion-icon>
        <ion-label>+58 424 1576936</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" slot="start" color="danger"></ion-icon>
        <ion-label> Pais Venezuela - Ciudad Caracas</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
