:root {
  /** primary **/

  --ion-color-primary: #332f46;
  --ion-color-primary-rgb: 30, 58, 138;
  --ion-color-primary-contrast: #f7eaea;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4e78ec;
  --ion-color-primary-tint: #4f5b7d;

  /** secondary **/
  --ion-color-secondary: #146a92;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #f7eaea;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #2d424b;

  /** tertiary **/
  --ion-color-tertiary: #7078c9;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #f7eaea;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #313237;
  --ion-color-tertiary-tint: #4853cc;
}
